<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ceosilvajr.app.onlineshoppingcart">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme.NoActionbar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ItemListActivity"
            android:label="@string/title_activity_item_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ItemDetailsActivity"
            android:label="@string/title_activity_item_details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CheckoutActivity"
            android:label="@string/title_activity_checkout"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:screenOrientation="portrait" />

    </application>

</manifest>
